# Project 2:  Ames Housing Data and Kaggle Challenge

Kelly Slatery | US-DSI-10 | 01.17.2020

# Clean test dataset for Ames Housing Data

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

## Import & explore data

In [2]:
test = pd.read_csv('./datasets/test.csv')

In [3]:
test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [4]:
test.shape

(878, 80)

In [5]:
test.columns

Index(['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type'],
      dtype='object')

In [6]:
test.dtypes.to_frame().T

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,int64,int64,int64,object,float64,int64,object,object,object,object,...,int64,int64,int64,object,object,object,int64,int64,int64,object

# Clean data

In [7]:
# Find all columns with missing values and how many values are missing
test_missing_values = { col:(878 - test[col].count()) for col in test if test[col].count() < 878}
test_missing_values

{'Lot Frontage': 160,
 'Alley': 820,
 'Mas Vnr Type': 1,
 'Mas Vnr Area': 1,
 'Bsmt Qual': 25,
 'Bsmt Cond': 25,
 'Bsmt Exposure': 25,
 'BsmtFin Type 1': 25,
 'BsmtFin Type 2': 25,
 'Electrical': 1,
 'Fireplace Qu': 422,
 'Garage Type': 44,
 'Garage Yr Blt': 45,
 'Garage Finish': 45,
 'Garage Qual': 45,
 'Garage Cond': 45,
 'Pool QC': 874,
 'Fence': 706,
 'Misc Feature': 837}

## Drop columns with large majority missing values

In [8]:
test.drop(columns=['Alley', 'Pool QC', 'Fence', 'Misc Feature'], inplace=True)

In [9]:
# Find remaining columns with missing values and how many values are missing
test_missing_values = { col:(878 - test[col].count()) for col in test if test[col].count() < 878}
test_missing_values

{'Lot Frontage': 160,
 'Mas Vnr Type': 1,
 'Mas Vnr Area': 1,
 'Bsmt Qual': 25,
 'Bsmt Cond': 25,
 'Bsmt Exposure': 25,
 'BsmtFin Type 1': 25,
 'BsmtFin Type 2': 25,
 'Electrical': 1,
 'Fireplace Qu': 422,
 'Garage Type': 44,
 'Garage Yr Blt': 45,
 'Garage Finish': 45,
 'Garage Qual': 45,
 'Garage Cond': 45}

## Address veneer columns

In [10]:
# Check if NaN values in 'Mas Vnr Area' and 'Mas Vnr Type' correspond
test[(test['Mas Vnr Area'].isnull()==True) & (test['Mas Vnr Type'].isnull()==True)]

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type
865,868,907260030,60,RL,70.0,8749,Pave,Reg,Lvl,AllPub,...,0,48,0,0,0,0,0,11,2009,WD

In [11]:
# Fill empty values with 0 or 'N/A' string
test.loc[(test['Mas Vnr Type'].isnull()==True), ['Mas Vnr Type']] = 'N/A'
test.loc[(test['Mas Vnr Area'].isnull()==True), ['Mas Vnr Area']] = 0.0

In [12]:
# Change test['Mas Vnr Area'] dtype to int
test['Mas Vnr Area'] = pd.to_numeric(test['Mas Vnr Area'])
test['Mas Vnr Area'].head(10)

0      0.0
1      0.0
2      0.0
3      0.0
4    247.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
Name: Mas Vnr Area, dtype: float64

In [13]:
# Find remaining columns with missing values and how many values are missing
test_missing_values = { col:(878 - test[col].count()) for col in test if test[col].count() < 878}
test_missing_values

{'Lot Frontage': 160,
 'Bsmt Qual': 25,
 'Bsmt Cond': 25,
 'Bsmt Exposure': 25,
 'BsmtFin Type 1': 25,
 'BsmtFin Type 2': 25,
 'Electrical': 1,
 'Fireplace Qu': 422,
 'Garage Type': 44,
 'Garage Yr Blt': 45,
 'Garage Finish': 45,
 'Garage Qual': 45,
 'Garage Cond': 45}

## Address garage columns

In [14]:
# Check garage column max
test['Garage Yr Blt'].max()

2010.0

In [15]:
# Check if NaN values in 'Garage Type','Garage Yr Blt', 'Garage Finish', 'Garage Qual', 'Garage Cond' correspond 

# Drop ALL rows containing NaN in all 5 columns above (should be 113 rows)
garage_cols_no_nan = test[['Garage Type','Garage Yr Blt', 'Garage Finish', 'Garage Qual', 'Garage Cond']].dropna(how='all')

# Verify that exactly 113 rows were dropped AKA all 113 NaN values are in the same rows
test.shape[0] - garage_cols_no_nan.shape[0] == 44

True

In [16]:
# Create a new 'has_garage' column
test['has_garage'] = [0 if pd.isna(value) else 1 for value in test['Garage Type']]

In [17]:
# Find other row where all but 'Garage Type' are NaN
test.loc[((test['Garage Yr Blt'].isnull()) & (test['Garage Type'].notnull())), ['Garage Type']]

    Garage Type
764      Detchd

In [18]:
# Change row 764, ['Garage Type'] to 'N/A' for simplicity
test.loc[764,['Garage Type']] == 'N/A'

# Fill empty values with 'N/A' string
test.loc[(test['Garage Yr Blt'].isnull()), ['Garage Type', 'Garage Finish', 'Garage Qual', 'Garage Cond']] = 'N/A'

# Fill empty values in 'Garage Yr Blt' with mean year
test.loc[(test['Garage Yr Blt'].isnull()), ['Garage Yr Blt']] = np.mean(test['Garage Yr Blt'])

In [19]:
# Find remaining columns with missing values and how many values are missing
test_missing_values = { col:(878 - test[col].count()) for col in test if test[col].count() < 878}
test_missing_values

{'Lot Frontage': 160,
 'Bsmt Qual': 25,
 'Bsmt Cond': 25,
 'Bsmt Exposure': 25,
 'BsmtFin Type 1': 25,
 'BsmtFin Type 2': 25,
 'Electrical': 1,
 'Fireplace Qu': 422}

## Address basement columns

In [20]:
# Check if NaN values in 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', & 'BsmtFin Type 2' correspond
bsmt_cols_no_nan = test[['Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2']].dropna(how='any')

# Check how many rows were dropped to find if extra in 'Bsmt Exposure' & 'BsmtFin Type 2' overlap
test.shape[0] - bsmt_cols_no_nan.shape[0] == 25

True

In [21]:
# Fill empty values in 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', & 'BsmtFin Type 2' with 'N/A'
test.loc[(test['BsmtFin Type 2'].isnull()), ['Bsmt Qual', 
                                             'Bsmt Cond', 
                                             'Bsmt Exposure', 
                                             'BsmtFin Type 1', 
                                             'BsmtFin Type 2']] = 'N/A'

In [22]:
# Find remaining columns with missing values and how many values are missing
test_missing_values = { col:(878 - test[col].count()) for col in test if test[col].count() < 878}
test_missing_values

{'Lot Frontage': 160, 'Electrical': 1, 'Fireplace Qu': 422}

## Address 'Fireplace Qu' column

In [23]:
# Check out 'Fireplace Qu' compared to 'Fireplaces'
test.loc[(test['Fireplace Qu'].isnull()), ['Fireplaces','Fireplace Qu']].head()

   Fireplaces Fireplace Qu
0           0          NaN
1           0          NaN
3           0          NaN
5           0          NaN
6           0          NaN

In [24]:
# Verify that 'Fireplace Qu' NaN values align with 'Fireplaces' == 0
test[(test['Fireplace Qu'].isnull()) & (test['Fireplaces'] != 0)]

Empty DataFrame
Columns: [Id, PID, MS SubClass, MS Zoning, Lot Frontage, Lot Area, Street, Lot Shape, Land Contour, Utilities, Lot Config, Land Slope, Neighborhood, Condition 1, Condition 2, Bldg Type, House Style, Overall Qual, Overall Cond, Year Built, Year Remod/Add, Roof Style, Roof Matl, Exterior 1st, Exterior 2nd, Mas Vnr Type, Mas Vnr Area, Exter Qual, Exter Cond, Foundation, Bsmt Qual, Bsmt Cond, Bsmt Exposure, BsmtFin Type 1, BsmtFin SF 1, BsmtFin Type 2, BsmtFin SF 2, Bsmt Unf SF, Total Bsmt SF, Heating, Heating QC, Central Air, Electrical, 1st Flr SF, 2nd Flr SF, Low Qual Fin SF, Gr Liv Area, Bsmt Full Bath, Bsmt Half Bath, Full Bath, Half Bath, Bedroom AbvGr, Kitchen AbvGr, Kitchen Qual, TotRms AbvGrd, Functional, Fireplaces, Fireplace Qu, Garage Type, Garage Yr Blt, Garage Finish, Garage Cars, Garage Area, Garage Qual, Garage Cond, Paved Drive, Wood Deck SF, Open Porch SF, Enclosed Porch, 3Ssn Porch, Screen Porch, Pool Area, Misc Val, Mo Sold, Yr Sold, Sale Type, has_garage]
Index: []

[0 rows x 77 columns]

In [25]:
test[(test['Fireplace Qu'].notnull()) & (test['Fireplaces'] == 0)]

Empty DataFrame
Columns: [Id, PID, MS SubClass, MS Zoning, Lot Frontage, Lot Area, Street, Lot Shape, Land Contour, Utilities, Lot Config, Land Slope, Neighborhood, Condition 1, Condition 2, Bldg Type, House Style, Overall Qual, Overall Cond, Year Built, Year Remod/Add, Roof Style, Roof Matl, Exterior 1st, Exterior 2nd, Mas Vnr Type, Mas Vnr Area, Exter Qual, Exter Cond, Foundation, Bsmt Qual, Bsmt Cond, Bsmt Exposure, BsmtFin Type 1, BsmtFin SF 1, BsmtFin Type 2, BsmtFin SF 2, Bsmt Unf SF, Total Bsmt SF, Heating, Heating QC, Central Air, Electrical, 1st Flr SF, 2nd Flr SF, Low Qual Fin SF, Gr Liv Area, Bsmt Full Bath, Bsmt Half Bath, Full Bath, Half Bath, Bedroom AbvGr, Kitchen AbvGr, Kitchen Qual, TotRms AbvGrd, Functional, Fireplaces, Fireplace Qu, Garage Type, Garage Yr Blt, Garage Finish, Garage Cars, Garage Area, Garage Qual, Garage Cond, Paved Drive, Wood Deck SF, Open Porch SF, Enclosed Porch, 3Ssn Porch, Screen Porch, Pool Area, Misc Val, Mo Sold, Yr Sold, Sale Type, has_garage]
Index: []

[0 rows x 77 columns]

In [26]:
# Create a new 'has_garage' column
test['has_fireplace'] = [0 if pd.isna(value) else 1 for value in test['Fireplaces']]

In [27]:
# Fill empty values with 'N/A' string
test.loc[(test['Fireplace Qu'].isnull()), ['Fireplace Qu']] = 'N/A'

In [28]:
# Find remaining columns with missing values and how many values are missing
test_missing_values = { col:(878 - test[col].count()) for col in test if test[col].count() < 878}
test_missing_values

{'Lot Frontage': 160, 'Electrical': 1}

## Address 'Electrical' column

In [29]:
# Address 'Electrical'

In [30]:
# Check out row of missing value
test.loc[(test['Electrical'].isnull()), ['Electrical']]

    Electrical
634        NaN

In [31]:
# Find most common 'Electrical' value to fill NaN
test.groupby('Electrical')['Electrical'].count()

Electrical
FuseA     48
FuseF     15
FuseP      1
SBrkr    813
Name: Electrical, dtype: int64

In [32]:
# Fill extra empty value in 'Electrical' with 'SBrkr'
test.loc[634, 'Electrical'] = 'SBrkr'

In [33]:
# Find remaining columns with missing values and how many values are missing
test_missing_values = { col:(878 - test[col].count()) for col in test if test[col].count() < 878}
test_missing_values

{'Lot Frontage': 160}

## Address 'Lot Frontage' column

#### Import all of this into other Jupyter Notebook later to access the same ratios derived from that dataset

In [34]:
# Check mean 'Lot Frontage' by 'Lot Shape' for later comparison
test.groupby('Lot Shape')['Lot Frontage'].mean()

Lot Shape
IR1     75.108696
IR2     91.500000
IR3    120.000000
Reg     66.568665
Name: Lot Frontage, dtype: float64

In [35]:
# Fill empty values in 'Lot Frontage' with corresponding 'Lot Area' * lot_ratio by lot shape

# Credits (using .transform() on a groupby object): @jpp 6/22/2018 
# https://stackoverflow.com/questions/50991766/how-does-pandas-replace-nan-values-with-mean-value-using-groupby

# Create a new 'lot_ratio' column of 'Lot Frontage' / 'Lot Area'
test['lot_ratio'] = [value1 / value2 if (~pd.isna(value1)) else 'N/A' for value1, value2 in zip(test['Lot Frontage'], test['Lot Area'])]

# Replace lot ratios in 'lot_ratio' with the mean lot ratio by 'Lot Shape'
mean_ratios_by_shape = test.groupby('Lot Shape')['lot_ratio'].transform('mean')

# Fill empty values in 'Lot Frontage' with estimate from ratio by lot shape * 'Lot Area'
test['Lot Frontage'].fillna(value=(mean_ratios_by_shape * test['Lot Area']), inplace=True)

In [36]:
# Check new mean 'Lot Frontage' by 'Lot Shape' for comparison
test.groupby('Lot Shape')['Lot Frontage'].mean()

Lot Shape
IR1     83.699566
IR2     98.750940
IR3    120.692110
Reg     67.259669
Name: Lot Frontage, dtype: float64

In [37]:
# Remove 'lot_ratio' column
test.drop(columns=['lot_ratio'], inplace=True)

In [38]:
# Find remaining columns with missing values and how many values are missing
test_missing_values = { col:(878 - test[col].count()) for col in test if test[col].count() < 878}
test_missing_values

{}

## Change datatypes

In [39]:
# Change test['Garage Cars', 'Garage Yr Blt', 'Bsmt Full Bath', 'Bsmt Half Bath'] to int

# Credits: Jaroslav Bezděk 12/12/2019 & user4322543 12/19/2016
# https://stackoverflow.com/questions/21291259/convert-floats-to-ints-in-pandas

test['Garage Cars'] = test['Garage Cars'].apply(np.int64)
test['Garage Yr Blt'] = test['Garage Yr Blt'].apply(np.int64)
test['Bsmt Full Bath'] = test['Bsmt Full Bath'].apply(np.int64)
test['Bsmt Half Bath'] = test['Bsmt Half Bath'].apply(np.int64)
test[['Bsmt Full Bath', 'Bsmt Half Bath', 'Garage Cars', 'Garage Yr Blt', 'Central Air']].dtypes

Bsmt Full Bath     int64
Bsmt Half Bath     int64
Garage Cars        int64
Garage Yr Blt      int64
Central Air       object
dtype: object

## Address categorical (nominal / ordinal) columns

In [40]:
# Get list of categorical variables

def get_cat_cols(df):
    cat_cols = []
    for col in df.columns:
        if df[col].dtype == 'object':
            cat_cols.append(col)
    return cat_cols
    
get_cat_cols(test)

['MS Zoning',
 'Street',
 'Lot Shape',
 'Land Contour',
 'Utilities',
 'Lot Config',
 'Land Slope',
 'Neighborhood',
 'Condition 1',
 'Condition 2',
 'Bldg Type',
 'House Style',
 'Roof Style',
 'Roof Matl',
 'Exterior 1st',
 'Exterior 2nd',
 'Mas Vnr Type',
 'Exter Qual',
 'Exter Cond',
 'Foundation',
 'Bsmt Qual',
 'Bsmt Cond',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'BsmtFin Type 2',
 'Heating',
 'Heating QC',
 'Central Air',
 'Electrical',
 'Kitchen Qual',
 'Functional',
 'Fireplace Qu',
 'Garage Type',
 'Garage Finish',
 'Garage Qual',
 'Garage Cond',
 'Paved Drive',
 'Sale Type']

From the data dictionary and judgment, these columns should be adjusted to include in model evaluation, either by dummifying or converting to an ordinal scale:

Nominal (to dummify):
- MS Zoning
- Lot Config
- Neighborhood
- Bldg Type

Ordinal (to change to numerical scale):
- Utilities
- Land Slope
- House Style (not ordinal, but change to ordinal)
- Exter Qual
- Exter Cond
- Bsmt Qual, Bsmt Cond, Bsmt Exposure
- Heating QC
- Kitchen Qual
- Functional
- Fireplace Qu
- Garage Finish
- Garage Qual
- Garage Cond
- Paved Drive
- Fence

Binary:
- Create 'has_condition' = [0,1,2] based on 'Condition 1' and 'Condition 2'

### Address ordinal columns

In [41]:
# Find the unique values in each of the columns to turn to ordinal

ordinals = ['Utilities', 'Land Slope', 'House Style', 'Exter Qual', 'Exter Cond', 
            'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'Heating QC', 'Kitchen Qual', 
            'Functional', 'Fireplace Qu', 'Garage Finish', 'Garage Qual', 'Garage Cond', 
            'Paved Drive', 'Central Air']

def get_uniques(data, col_list):    
    uniques = {}
    for col in col_list:
        uniques[col] = list(data[col].unique())
    return uniques

ordinal_uniques = get_uniques(test, ordinals)
ordinal_uniques

{'Utilities': ['AllPub', 'NoSewr'],
 'Land Slope': ['Gtl', 'Mod', 'Sev'],
 'House Style': ['2Story',
  '1Story',
  '1.5Fin',
  'SLvl',
  'SFoyer',
  '2.5Fin',
  '2.5Unf',
  '1.5Unf'],
 'Exter Qual': ['TA', 'Gd', 'Fa', 'Ex'],
 'Exter Cond': ['Fa', 'TA', 'Gd', 'Ex', 'Po'],
 'Bsmt Qual': ['Fa', 'Gd', 'TA', 'Ex', 'N/A', 'Po'],
 'Bsmt Cond': ['TA', 'Gd', 'N/A', 'Fa'],
 'Bsmt Exposure': ['No', 'Av', 'N/A', 'Mn', 'Gd'],
 'Heating QC': ['Gd', 'TA', 'Ex', 'Fa'],
 'Kitchen Qual': ['Fa', 'TA', 'Gd', 'Ex', 'Po'],
 'Functional': ['Typ', 'Min2', 'Min1', 'Mod', 'Maj1', 'Maj2'],
 'Fireplace Qu': ['N/A', 'Gd', 'Fa', 'TA', 'Po', 'Ex'],
 'Garage Finish': ['Unf', 'Fin', 'RFn', 'N/A'],
 'Garage Qual': ['Po', 'TA', 'Fa', 'N/A', 'Gd'],
 'Garage Cond': ['Po', 'TA', 'N/A', 'Fa', 'Gd', 'Ex'],
 'Paved Drive': ['Y', 'N', 'P'],
 'Central Air': ['N', 'Y']}

In [42]:
# For all columns with a subset of ['Ex', 'Gd', 'TA', 'Fa', 'Po', 'N/A'], map ordinals
# Credits (using any()): @ericyan3000 5.31.2018 & @Anna 6.2.2018
# https://stackoverflow.com/questions/3847386/testing-if-a-list-contains-another-list-with-python

for key, value in ordinal_uniques.items():
    if any(elem in value for elem in ['Ex', 'Gd', 'TA', 'Fa', 'Po']) and key != 'Bsmt Exposure':
        test[key] = test[key].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'N/A': 0})
        print(test[key].head(3))
        ordinals.remove(key)

0    3
1    3
2    4
Name: Exter Qual, dtype: int64
0    2
1    3
2    3
Name: Exter Cond, dtype: int64
0    2
1    4
2    4
Name: Bsmt Qual, dtype: int64
0    3
1    3
2    4
Name: Bsmt Cond, dtype: int64
0    4
1    3
2    5
Name: Heating QC, dtype: int64
0    2
1    3
2    4
Name: Kitchen Qual, dtype: int64
0    0
1    0
2    4
Name: Fireplace Qu, dtype: int64
0    1
1    3
2    3
Name: Garage Qual, dtype: int64
0    1
1    3
2    3
Name: Garage Cond, dtype: int64

In [43]:
# Check that correct columns were converted and removed from the list
ordinal_uniques = get_uniques(test, ordinals)
ordinal_uniques

{'Utilities': ['AllPub', 'NoSewr'],
 'Land Slope': ['Gtl', 'Mod', 'Sev'],
 'House Style': ['2Story',
  '1Story',
  '1.5Fin',
  'SLvl',
  'SFoyer',
  '2.5Fin',
  '2.5Unf',
  '1.5Unf'],
 'Bsmt Exposure': ['No', 'Av', 'N/A', 'Mn', 'Gd'],
 'Functional': ['Typ', 'Min2', 'Min1', 'Mod', 'Maj1', 'Maj2'],
 'Garage Finish': ['Unf', 'Fin', 'RFn', 'N/A'],
 'Paved Drive': ['Y', 'N', 'P'],
 'Central Air': ['N', 'Y']}

In [44]:
# Make the rest of the chosen columns ordinal
test['Utilities'] = test['Utilities'].map({'AllPub': 4, 'NoSeWa': 2, 'NoSewr': 3, 'ELO': 1})
test['Land Slope'] = test['Land Slope'].map({'Gtl': 1, 'Sev': 3, 'Mod': 2})
test['House Style'] = test['House Style'].map({'2Story': 2, '1Story': 1, '1.5Fin': 5/3, 'SFoyer': 2, 'SLvl': 2, '2.5Unf': 7/3, '2.5Fin': 8/3, '1.5Unf': 4/3})
test['Bsmt Exposure'] = test['Bsmt Exposure'].map({'No': 1, 'Gd': 4, 'Av': 3, 'N/A': 0, 'Mn': 2})
test['Functional'] = test['Functional'].map({'Typ': 8, 'Mod': 5, 'Min2': 6, 'Maj1': 4, 'Min1': 7, 'Sev': 2, 'Sal': 1, 'Maj2': 3})
test['Garage Finish'] = test['Garage Finish'].map({'RFn': 2, 'Unf': 1, 'Fin': 3, 'N/A': 0})
test['Paved Drive'] = test['Paved Drive'].map({'Y': 1, 'N': 0, 'P': .5})
test['Central Air'] = test['Central Air'].map({'Y': 1, 'N': 0})

# Check that all columns intended to be changed were changed
get_cat_cols(test)

['MS Zoning',
 'Street',
 'Lot Shape',
 'Land Contour',
 'Lot Config',
 'Neighborhood',
 'Condition 1',
 'Condition 2',
 'Bldg Type',
 'Roof Style',
 'Roof Matl',
 'Exterior 1st',
 'Exterior 2nd',
 'Mas Vnr Type',
 'Foundation',
 'BsmtFin Type 1',
 'BsmtFin Type 2',
 'Heating',
 'Electrical',
 'Garage Type',
 'Sale Type']

### Address nominal columns (dummify)

In [45]:
# Get dummy columns
dum_test = pd.get_dummies(test, 
                          columns=['MS Zoning', 'Lot Config', 'Neighborhood', 'Bldg Type'], 
                          drop_first=True, 
                          prefix=['zone', 'lot_config', 'neighborhood', 'bldg_type'])

### Create new calculated columns

In [46]:
# 2 new calculated columns
dum_test['total_full_bath'] = dum_test['Full Bath'] + dum_test['Bsmt Full Bath']
dum_test['total_half_bath'] = dum_test['Half Bath'] + dum_test['Bsmt Half Bath']

In [47]:
# Check that new columns were added to the new dataframe
dum_test.shape

(878, 114)

# Export clean data for analysis

In [48]:
dum_test.to_csv('./datasets/test_clean.csv', index=False)